# Ignore everything by default, and then whitelist as needed
*
!.gitignore

# Project & environment configuration
!flake.nix
!flake.lock
!.python-version
!pyproject.toml
!uv.lock

# Library implementation
!src/
!src/qif_micro/
!src/qif_micro/**/
!src/qif_micro/**/*.py

# Jupyter notebooks with examples
!examples/
!examples/agg-count-sum.ipynb
